* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("..\\Images\\pexels-fwstudio-129731.jpg");
}

.nav {
  position: relative;
  background-color: #712e1e;
  height: 80px;
  width: 100%;
}
.nav img {
  position: absolute;
  top: 2px;
  left: 48.5%;
}
@media (max-width: 1300px) {
  .nav img {
    left: 1%;
  }
}

.nav ul {
  float: right;
  margin-right: 8%;
}
@media (max-width: 700px) {
  .nav ul {
    margin-right: 0%;
  }
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 700px) {
  .nav ul li {
    margin: 0 2px;
  }
}

.nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .nav ul li a {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .nav ul li a {
    font-size: 11px;
  }
}

.nav ul li a.active, .nav ul li a:hover {
  background: #baba8d;
  transition: 0.5s;
}

.toggle-cart {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  border: none;
  background: none;
}
@media (max-width: 700px) {
  .toggle-cart {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .toggle-cart {
    font-size: 11px;
  }
}

.toggle-cart.active, .toggle-cart:hover {
  background: #baba8d;
  transition: 0.5s;
}

.cart-count {
  position: absolute;
  background-color: blue;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  top: 9px;
  right: 8%;
}
@media (max-width: 700px) {
  .cart-count {
    right: 2%;
  }
}

.wrapper {
  border: 10px solid #888870;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  margin: 10px 10px;
}
.wrapper h1 {
  margin: 10px;
}

.top-row {
  display: flex;
  margin: auto auto;
}

.bottom-row {
  display: flex;
  margin: auto;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: auto 3em;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin: 4px auto;
  background-color: whitesmoke;
}

.shop-item-title {
  font-size: 1.5em;
  margin: 10px auto;
}

.purchasing-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.purchasing-details p {
  margin: auto;
  text-align: center;
}

.shop-item-image {
  width: 300px;
}

.shop-item-price {
  font-size: 1.5em;
}

.shop-item-details {
  color: #712e1e;
  border: 1px solid #712e1e;
  background-color: transparent;
  border-radius: 10px;
  width: 100px;
  height: 20px;
}

.shop-item-details:active {
  font-size: 0.8em;
  width: 80px;
  height: 18px;
}

.shop-item-details:hover {
  background-color: #baba8d;
}

.shop-item-button {
  margin: 10px auto;
  border-radius: 10%;
  width: 100px;
  height: 20px;
  padding: 20px 10px;
  background-color: #712e1e;
  color: white;
  text-align: center;
}

.shop-item-button:hover {
  background-color: #baba8d;
}

.shop-item-button:active {
  font-size: 0.8em;
  height: 15px;
  width: 75px;
}

.cart {
  border-radius: 0 0 1% 1%;
  border: 4px solid #712e1e;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  top: 7.7%;
  left: 76.5%;
  text-align: center;
  z-index: 2;
}
@media (max-width: 1300px) {
  .cart {
    left: 70.5%;
  }
}
@media (max-width: 1200px) {
  .cart {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .cart {
    left: 50.5%;
  }
}
.cart .cart-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.cart .cart-row .cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart .cart-row .cart-item .cart-item-image {
  margin: 5px auto;
}
.cart .cart-row .cart-item .cart-item-title {
  text-align: center;
}

.cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.cart-column {
  width: 200px;
}

.btn-purchase {
  margin: 10px;
}

.hide {
  display: none;
}

.footer {
  background-color: #712e1e;
  height: 170px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.footer p {
  color: white;
  margin: 12px auto;
}
.footer img {
  width: 40px;
  height: 40px;
  margin: auto 15px;
}
.footer img:hover {
  width: 55px;
  height: 55px;
  transition: 0.5s;
}
.footer img:active {
  width: 50px;
  height: 50px;
  transition: 0.1s;
}

@media (max-width: 900px) {
  .wrapper {
    border: 10px solid #888870;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin: 10px 10px;
  }
  .wrapper h1 {
    margin: 10px;
  }
  .top-row {
    display: flex;
    margin: 100px auto 40px;
  }
  .bottom-row {
    display: flex;
    margin: auto;
  }
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 1px 3em 0px;
  }
  .product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 2px auto;
    background-color: whitesmoke;
  }
  .shop-item-title {
    font-size: 1.3em;
    margin: 5px auto;
  }
  .purchasing-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  .purchasing-details p {
    margin: auto;
    text-align: center;
  }
  .shop-item-image {
    width: 150px;
  }
  .shop-item-price {
    font-size: 1.5em;
  }
  .shop-item-details {
    color: #712e1e;
    border: 1px solid #712e1e;
    background-color: transparent;
    border-radius: 10px;
    width: 100px;
    height: 20px;
  }
  .shop-item-details:active {
    font-size: 0.8em;
    width: 80px;
    height: 18px;
  }
  .shop-item-details:hover {
    background-color: #baba8d;
  }
  .shop-item-button {
    margin: 10px auto;
    border-radius: 10%;
    width: 100px;
    height: 20px;
    padding: 20px 10px;
    background-color: #712e1e;
    color: white;
    text-align: center;
  }
  .shop-item-button:hover {
    background-color: #baba8d;
  }
  .shop-item-button:active {
    font-size: 0.8em;
    height: 15px;
    width: 75px;
  }
  .cart {
    border-radius: 0 0 1% 1%;
    border: 4px solid #712e1e;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 350px;
    top: 7.7%;
    left: 76.5%;
    text-align: center;
    z-index: 2;
  }
}
@media (max-width: 900px) and (max-width: 1300px) {
  .cart {
    left: 70.5%;
  }
}
@media (max-width: 900px) and (max-width: 1200px) {
  .cart {
    width: 250px;
  }
}
@media (max-width: 900px) and (max-width: 800px) {
  .cart {
    left: 50.5%;
  }
}
@media (max-width: 900px) {
  .cart .cart-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
  }
  .cart .cart-row .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cart .cart-row .cart-item .cart-item-image {
    margin: 5px auto;
  }
  .cart .cart-row .cart-item .cart-item-title {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .cart-quantity {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
}
@media (max-width: 900px) {
  .cart-column {
    width: 200px;
  }
}
@media (max-width: 900px) {
  .btn-purchase {
    margin: 10px;
  }
}
@media (max-width: 900px) {
  .hide {
    display: none;
  }
}

/*# sourceMappingURL=Cart.css.map */
