

@import 'module';

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body{
  
  
  width: 100%; 
  background-image: url("Images\\pexels-fwstudio-129731.jpg");

    
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      margin: 40px auto auto auto;
      font-size: 4rem;
    }

  }

}

@include nav-bar;

.cart {
  @include cart-style;
}

.cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.cart-column {
  width: 200px;
}

.btn-purchase {
  margin: 10px;
}

.hide {
  display: none;
}

.about-wrapper{
  
  height: 754px;
  width: 1460px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 100px auto ;
  border-radius: 10px;
  // box-shadow: 0px 0px 10px 0px black;
    
    .about-container{

        @include wrapper-style;
        display: flex;
        width: 1360px;
        height: 654px;   

        .about-img{
            width: 50%;
            height: 100%;
            
          .img-container{
            // background-color: purple;
            // width: 759px;
            // height: 506px;
            margin: 20px 50px;
            
            img {
              border-radius: 10px;
              margin: 10px 40px auto;
            }
          }
            
        }
        

        .about-description{
          width: 50%;
          height: 100%;
          margin: 10px;

          p {
              margin: 30px 10px;
              width: 636px;
              font-size: 2em;
          }

        }
    }
}

@include footer;