@import 'module';

*{
    margin: 0;
    padding: 0;
}

body{
    height: 1500px;
    width: 100%; 

    .nav {
    background-color: #712e1e;
    height: 60px;
    width: 100%;
    }

    .nav ul {
    float: right;
    margin-right: 150px;
    }

    .nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }

    .nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    }

    .nav ul li a.active, .nav ul li a:hover {
    background: #baba8d;
    transition: 0.5s;
    }
    
    .cart-count {
        background-color: blue;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        text-align: center;
        position: absolute;
        color: white;
        top: 9px;
        right: 140px;
    }
        

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
        margin: 40px auto auto auto;
        font-size: 4rem;
        }
        
        .promotion-wrapper{
            @include background-base;
            height: 527px;
            width: 1080px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px auto 100px auto ;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px black;
            
            .promotion-container{
                display: flex;
                width: 1030px;
                height: 467px;
                background-color: white;
                border-radius: 10px;       
        
                .promotion-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60%;
                    height: 100%;;
                    overflow: hidden;
                    // background-color: cyan;
                    
                    .img-container{
                        // background-color: purple;
                        // width: 759px;
                        // height: 506px;
                    
                        img {
                        border-radius: 10px;
                        margin: 10px 40px auto;
                        }
                    } 
                }
                
                .promotion-description{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40%;
                    height: 100%;
                    margin: 10px;
                    text-align: center;
        
                    p {
                        margin: 10px;
                        font-size: 1.5em;
                    }
        
                }
            }

        }
    }

    .footer{
        background-color: #712e1e;
        height: 160px;
        width: 100%;
        text-align: center;
      
        p{
          color: white;
          margin: 10px auto;
        }
      
        img{
          width: 40px;
          height: 40px;
          margin: auto 15px;
        }
      
    }
}

.cart {
    @include base-frame;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 350px;
    top: 8.2%;
    left: 77%;
    text-align: center;
    
    .cart-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
  
      
      .cart-item {
  
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .cart-item-image {
          margin: 5px auto;
        }
  
        .cart-item-title {
          text-align: center;
        }
    
      }
  
    }
  
  
    button {
      width:  100px;
    }
  
  }
  
  
  
  .cart-quantity {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  
  
  .cart-column {
    width: 200px;
  }
  
  
  
  .btn-purchase {
    margin: 10px;
  }
  
  .hide {
    display: none;
  }
