@import '_module.scss';


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' ;
    
}

body{
    background-image: url("Images\\pexels-fwstudio-129731.jpg")
}

@include nav-bar;


.content{
    // @include background-base; 
    display: flex;
    flex-direction: column;
    margin: 0 55vh;
    // height:1200px;
    width: 1200px;
    margin: 5px auto;
    border-radius: 10px;
    // box-shadow: 0 0 10px 0;
    
    #promotion{
        display: inline-block;
        position: relative;
        width: 100%;
        height: 589.2px;
        border-radius: 10px;
        margin: 10px auto;

        h1 { 
            position: absolute;
            color: beige;
            font-size: 2.5em;
            top: 40px;
            left: 100px;
            border-radius: 100%;
            color:white;
            text-transform:uppercase;
            padding:1em 2.5em;
            width: 100px;
            text-align: center;
            font-size: 4.5em;
            text-decoration: none;
            border: 2px solid white;
        }
        
        img {
            border: 10px solid #888870;
            margin-left: 6.5%;
            width: 85%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 0 10px 0;
        }

        a {
            position: absolute;
            top: 66%;
            right:18em;
            background-color: #712f1e9f;
            border-radius:1.5em;
            color:white;
            text-transform:uppercase;
            padding:1em 2.5em;
            height: 35px;
            text-align: center;
            font-size: 1.5em;
            text-decoration: none;
            border: 2px solid white;
        }

        a:hover {
            background-color: #baba8d;
        }

        a:active {
            font-size: 1em;
            right: 28.5em;
            height: 30px;
            width: 194px;
        }
    }


    #about {
        background-color: #888870;;
        width: 90%;
        margin: 30px auto 10px auto;
        height: 90px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0;
       
        #to-about {
                font-size: 3em;
                background: none;
                width: 100%;
                height: 90%;
                color: white;
                border: none;                
                text-align: center;
            }
    }

    #about:hover {
        background-color: #712e1e;
    }

    #about:active {
        width: 85%;
        height: 80px;
    }

    #menu {
        // @include background-base;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        
        #menuitem{
            border: 10px solid #888870;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0% 1%;
            width: 90%;
            height: 500px;
            background-color: whitesmoke;            
            border-radius: 10px;
            box-shadow: 0 0 10px 0;

            .menuitem-desc{
            width: 60%;

                .purchase{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: #712e1e;
                    font-size: 2em;
                    width: 150px;
                    height: 50px;
                    text-align: center;
                    color: white;
                    border: none;
                    transition: .1s;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                    
                    
                }

                .purchase:hover {
                    background: #baba8d;

                }

                .purchase:active {
                    width: 145px;
                    height: 45px;
                }
            }

            .menuitem-desc{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                text-align: center;

                h1 {
                    font-size: 2.5em;
                    margin: 20px;
                }
            }

            .menuitem-img{
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }

        
        .whole-menu{
            border: 10px solid #888870;
            display: flex;
            margin: 10px auto;
            background-color: beige;
            height: 500px;
            width: 90%;        
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 10px 0;
            
            .whole-menu-img{
                width: 50%;
            }

            .whole-menu-link{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 50%;
                background-color: whitesmoke;

                h2 {
                    text-align: center;
                    margin: 10px;
                }

                .to-menu {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: #712e1e;
                    width: 150px;
                    height: 50px;
                    text-align: center;
                    color: white;
                    border: none;
                    transition: .1s;
                    
                    a {
                                        
                        text-decoration: none;
                        font-size: 2em;
                        text-align: center;
                        color: white;
                    } 

                }

                .to-menu:hover {
                    background: #baba8d;
                }

                .to-menu:active {
                    width: 145px;
                    height: 45px;
                }

                  

            }
            
        }
        
    }

    
}

.cart {
    @include base-frame;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid black ;
    position: absolute;
    width: 350px;
    top: 7.7%;
    left: 76.5%;
    text-align: center;
    z-index: 2;

    .cart-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;

    
    .cart-item {

      display: flex;
      flex-direction: column;
      justify-content: center;

      .cart-item-image {
        margin: 5px auto;
      }

      .cart-item-title {
        text-align: center;
      }
  
    }

  }


  button {
    width:  100px;
  }

}



.cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.cart-column {
  width: 200px;
}



.btn-purchase {
  margin: 10px;
}

.hide {
  display: none;
}

@include footer;


    
 
    