* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-image: url("Images\\pexels-fwstudio-129731.jpg");
}

.nav {
  position: relative;
  background-color: #712e1e;
  height: 80px;
  width: 100%;
}
.nav img {
  position: absolute;
  top: 2px;
  left: 48.5%;
}
@media (max-width: 1300px) {
  .nav img {
    left: 1%;
  }
}

.nav ul {
  float: right;
  margin-right: 8%;
}
@media (max-width: 700px) {
  .nav ul {
    margin-right: 0%;
  }
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media (max-width: 700px) {
  .nav ul li {
    margin: 0 2px;
  }
}
@media (max-width: 360px) {
  .nav ul li {
    margin: 0 1px;
  }
}

.nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .nav ul li a {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .nav ul li a {
    font-size: 11px;
    padding: 7px 5px;
  }
}
@media (max-width: 360px) {
  .nav ul li a {
    font-size: 8px;
    padding: 7px 2px;
  }
}

.nav ul li a.active, .nav ul li a:hover {
  background: #baba8d;
  transition: 0.5s;
}

.toggle-cart {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  border: none;
  background: none;
}
@media (max-width: 700px) {
  .toggle-cart {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .toggle-cart {
    font-size: 11px;
    padding: 7px 5px;
  }
}
@media (max-width: 360px) {
  .toggle-cart {
    font-size: 8px;
    padding: 7px 15px 5px 7px;
  }
}

.toggle-cart.active, .toggle-cart:hover {
  background: #baba8d;
  transition: 0.5s;
}

.cart-count {
  position: absolute;
  background-color: blue;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  top: 9px;
  right: 8%;
}
@media (max-width: 700px) {
  .cart-count {
    right: 2%;
  }
}
@media (max-width: 500px) {
  .cart-count {
    width: 20px;
    height: 20px;
    right: 2%;
    top: 15px;
  }
}
@media (max-width: 360px) {
  .cart-count {
    width: 15px;
    height: 15px;
    right: 4%;
    top: 23px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 55vh;
  margin: 5px auto;
  border-radius: 10px;
}
.content #promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin: 10px auto;
}
.content #promotion h1 {
  position: absolute;
  color: beige;
  top: 40px;
  left: 50px;
  border-radius: 100%;
  color: white;
  text-transform: uppercase;
  padding: 1em 2.5em;
  width: 100px;
  text-align: center;
  font-size: 4.5em;
  text-decoration: none;
  border: 2px solid white;
}
@media (max-width: 800px) {
  .content #promotion h1 {
    font-size: 2em;
    padding: 0.4em 1em;
    width: 100px;
    height: 150px;
  }
}
@media (max-width: 530px) {
  .content #promotion h1 {
    font-size: 2em;
    padding: 0.4em 1em;
    width: 45px;
    height: 75px;
  }
}
@media (max-width: 530px) {
  .content #promotion h1 {
    font-size: 2em;
    padding: 0.4em 1em;
    width: 45px;
    height: 75px;
  }
}
@media (max-width: 430px) {
  .content #promotion h1 {
    font-size: 1em;
    padding: 0.3em 0.7em;
    width: 45px;
    height: 75px;
  }
}
.content #promotion img {
  border: 10px solid #888870;
  margin-left: 1%;
  width: 1020px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}
@media (max-width: 800px) {
  .content #promotion img {
    width: 510px;
    height: 346px;
    margin-left: 0%;
  }
}
@media (max-width: 530px) {
  .content #promotion img {
    width: 425px;
    height: 288.3px;
    margin-left: 0%;
  }
}
@media (max-width: 430px) {
  .content #promotion img {
    width: 340px;
    height: 288.3px;
    margin-left: 0%;
  }
}
@media (max-width: 360px) {
  .content #promotion img {
    width: 280px;
    height: 288.3px;
  }
}
.content #promotion a {
  position: absolute;
  top: 66%;
  right: 14em;
  background-color: rgba(113, 47, 30, 0.6235294118);
  border-radius: 1.5em;
  color: white;
  text-transform: uppercase;
  padding: 1em 2.5em;
  height: 35px;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid white;
}
@media (max-width: 800px) {
  .content #promotion a {
    position: absolute;
    right: 30%;
    padding: 1em 2.5em;
    height: 10px;
    font-size: 0.8em;
  }
}
@media (max-width: 430px) {
  .content #promotion a {
    position: absolute;
    right: 24%;
    padding: 1em 2.5em;
    height: 10px;
    font-size: 0.8em;
  }
}
@media (max-width: 360px) {
  .content #promotion a {
    position: absolute;
    padding: 1em 2.5em;
    height: 10px;
    font-size: 0.8em;
  }
}
.content #promotion a:hover {
  background-color: #baba8d;
}
.content #promotion a:active {
  font-size: 1em;
  right: 22em;
  height: 30px;
  width: 194px;
}
@media (max-width: 800px) {
  .content #promotion a:active {
    font-size: 0.6em;
    right: 33.5%;
    height: 5px;
    width: 90px;
  }
}
@media (max-width: 800px) {
  .content #promotion a:active {
    right: 28.5%;
    height: 5px;
    width: 90px;
  }
}
.content #about {
  background-color: #888870;
  width: 1092px;
  margin: 30px auto 10px auto;
  height: 90px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}
@media (max-width: 800px) {
  .content #about {
    width: 500px;
    height: 60px;
  }
}
@media (max-width: 530px) {
  .content #about {
    width: 400px;
    height: 80px;
  }
}
@media (max-width: 420px) {
  .content #about {
    width: 340px;
    height: 40px;
  }
}
@media (max-width: 360px) {
  .content #about {
    width: 280px;
    height: 40px;
  }
}
.content #about #to-about {
  font-size: 3em;
  background: none;
  width: 100%;
  height: 90%;
  color: white;
  border: none;
  text-align: center;
}
@media (max-width: 800px) {
  .content #about #to-about {
    font-size: 2em;
    margin: auto 5px;
  }
}
@media (max-width: 530px) {
  .content #about #to-about {
    font-size: 1.4em;
    margin: auto 5px;
  }
}
@media (max-width: 350px) {
  .content #about #to-about {
    font-size: 1em;
    margin: auto 5px;
  }
}
.content #about:hover {
  background-color: #712e1e;
}
.content #about:active {
  width: 1072px;
  height: 70px;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .content #about:active {
    width: 480px;
    margin-bottom: 20px;
  }
}
@media (max-width: 530px) {
  .content #about:active {
    width: 380px;
    margin-bottom: 20px;
  }
}
@media (max-width: 430px) {
  .content #about:active {
    font-size: 0.7em;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 350px) {
  .content #about:active {
    font-size: 0.7em;
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
  }
}
.content #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.content #menu #menuitem {
  border: 10px solid #888870;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 1%;
  width: 90%;
  height: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}
@media (max-width: 800px) {
  .content #menu #menuitem {
    flex-direction: column-reverse;
    width: 90%;
  }
}
@media (max-width: 530px) {
  .content #menu #menuitem {
    width: 70%;
    height: 400px;
  }
}
.content #menu #menuitem .menuitem-desc {
  width: 60%;
}
@media (max-width: 800px) {
  .content #menu #menuitem .menuitem-desc {
    width: 20%;
  }
}
.content #menu #menuitem .menuitem-desc .purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #712e1e;
  font-size: 2em;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  border: none;
  transition: 0.1s;
}
@media (max-width: 800px) {
  .content #menu #menuitem .menuitem-desc .purchase {
    font-size: 1em;
  }
}
.content #menu #menuitem .menuitem-desc .purchase a {
  text-decoration: none;
  color: white;
}
.content #menu #menuitem .menuitem-desc .purchase:hover {
  background: #baba8d;
}
.content #menu #menuitem .menuitem-desc .purchase:active {
  width: 145px;
  height: 45px;
}
.content #menu #menuitem .menuitem-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
}
.content #menu #menuitem .menuitem-desc h1 {
  font-size: 2.5em;
  margin: 2px;
}
@media (max-width: 800px) {
  .content #menu #menuitem .menuitem-desc h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 800px) {
  .content #menu #menuitem .menuitem-desc h1 {
    font-size: 1em;
  }
}
.content #menu #menuitem .menuitem-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content #menu #menuitem .menuitem-img img {
  width: 650px;
}
@media (max-width: 800px) {
  .content #menu #menuitem .menuitem-img img {
    width: 500px;
  }
}
@media (max-width: 530px) {
  .content #menu #menuitem .menuitem-img img {
    width: 400px;
  }
}
@media (max-width: 420px) {
  .content #menu #menuitem .menuitem-img img {
    width: 312px;
  }
}
.content #menu .whole-menu {
  border: 10px solid #888870;
  display: flex;
  margin: 10px auto;
  background-color: beige;
  height: 500px;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}
@media (max-width: 800px) {
  .content #menu .whole-menu {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 530px) {
  .content #menu .whole-menu {
    width: 70%;
    height: 400px;
  }
}
.content #menu .whole-menu .whole-menu-img {
  width: 50%;
}
.content #menu .whole-menu .whole-menu-img img {
  width: 900px;
}
@media (max-width: 800px) {
  .content #menu .whole-menu .whole-menu-img {
    width: 100%;
  }
  .content #menu .whole-menu .whole-menu-img img {
    width: 475px;
  }
}
@media (max-width: 530px) {
  .content #menu .whole-menu .whole-menu-img {
    width: 90%;
  }
  .content #menu .whole-menu .whole-menu-img img {
    width: 312px;
  }
}
.content #menu .whole-menu .whole-menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: whitesmoke;
}
@media (max-width: 800px) {
  .content #menu .whole-menu .whole-menu-link {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 530px) {
  .content #menu .whole-menu .whole-menu-link h1 {
    font-size: 1.5em;
  }
}
.content #menu .whole-menu .whole-menu-link h2 {
  text-align: center;
  margin: 10px;
}
@media (max-width: 800px) {
  .content #menu .whole-menu .whole-menu-link h2 {
    font-size: 1em;
  }
}
.content #menu .whole-menu .whole-menu-link .to-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #712e1e;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  border: none;
  transition: 0.1s;
}
.content #menu .whole-menu .whole-menu-link .to-menu a {
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  color: white;
}
.content #menu .whole-menu .whole-menu-link .to-menu:hover {
  background: #baba8d;
}
.content #menu .whole-menu .whole-menu-link .to-menu:active {
  width: 145px;
  height: 45px;
}

.cart {
  border-radius: 0 0 1% 1%;
  border: 4px solid #712e1e;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  top: 7.7%;
  left: 76.5%;
  text-align: center;
  z-index: 2;
}
@media (max-width: 1300px) {
  .cart {
    left: 70.5%;
  }
}
@media (max-width: 1200px) {
  .cart {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .cart {
    left: 60.5%;
  }
}
@media (max-width: 660px) {
  .cart {
    width: 200px;
    left: 65.5%;
  }
}
@media (max-width: 500px) {
  .cart {
    width: 200px;
    left: 50.5%;
  }
}
@media (max-width: 400px) {
  .cart {
    width: 200px;
    left: 40.5%;
  }
}
@media (max-width: 350px) {
  .cart {
    width: 200px;
    left: 30.5%;
  }
}
.cart .cart-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.cart .cart-row .cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart .cart-row .cart-item .cart-item-image {
  margin: 5px auto;
}
.cart .cart-row .cart-item .cart-item-title {
  text-align: center;
}
.cart .cart-row .cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.cart .cart-row .cart-column {
  width: 200px;
}
@media (max-width: 660px) {
  .cart .cart-row .cart-column {
    width: 150px;
  }
}
@media (max-width: 350px) {
  .cart .cart-row .cart-column {
    width: 80px;
  }
}
.cart .cart-row .btn-purchase {
  margin: 10px;
}
.cart .cart-row .hide {
  display: none;
}

.hide {
  display: none;
}

.footer {
  background-color: #712e1e;
  height: 170px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.footer p {
  color: white;
  margin: 12px auto;
}
.footer img {
  width: 40px;
  height: 40px;
  margin: auto 15px;
}
.footer img:hover {
  width: 55px;
  height: 55px;
  transition: 0.5s;
}
.footer img:active {
  width: 50px;
  height: 50px;
  transition: 0.1s;
}

/*# sourceMappingURL=style.css.map */
