

@import '..\\_module.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
  background-image: url("..\\Images\\pexels-fwstudio-129731.jpg")
}


@include nav-bar;
 
.product-wrapper{
  height: 754px;
  width: 1460px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 100px auto ;
  border-radius: 10px;
   /*  @include template-top() */
}

.product {
  @include wrapper-style;
  display: flex;
  width: 1360px;
  height: 654px;
}

.product-interface {
  width: 700px;
  height: 100%;
}
.product-image {
    /* @include template-bottom(); */
    margin-left: 0px;  
}

.go-to-cart {
    /* @include template-bottom(); */
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
    bottom: 20px;
    margin: auto;
    background-color: #712e1e;
    border-radius: 10px;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }   
}

.go-to-cart:hover {
      background-color: #baba8d;
}

.go-to-cart:active {
  width: 80px;
  height: 40px; 
  font-size: 0.8em;
}

.product-description {
  width: 700px;
  text-align: center;
  height: 100%;
  margin: 10px 0;

  h1{
    width: 630px;
    font-size: 3rem;
  }
  p {
    margin: 30px 0px;
    width: 630px;
    font-size: 2em;
  }
}

.cart {
 @include cart-style
}
  
  
  
  .cart-quantity {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  
  
  .cart-column {
    width: 200px;
  }
  
  
  
  .btn-purchase {
    margin: 10px;
  }
  
  .hide {
    display: none;
  }

@include footer