@import '..\\module';

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    height: 1500px;
    background-image: url("..\\Images\\pexels-fwstudio-129731.jpg"); 

    @include nav-bar;
     
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
        margin: 40px auto auto auto;
        font-size: 4rem;
        }
        
        .promotion-wrapper{
            @include wrapper-style;
            height: 527px;
            width: 1080px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px auto 100px auto ;

            @media (max-width: 1000px) {
              width: 540px;
              height: 264px;
            }
            
            
            .promotion-container{
                display: flex;
                width: 1080px;
                height: 527px;
                background-color: whitesmoke;
                border-radius: 10px;       

                @media (max-width: 1000px) {
                  width: 540px;
                  height: 264px             
                }
        
                .promotion-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 636px;
                    height: 100%;;
                    overflow: hidden;
                    // background-color: cyan;

                    @media (max-width: 1000px) {
                      width: 318px;
                    }
                    
                    .img-container{
                        // background-color: purple;
                        // width: 759px;
                        // height: 506px;
                    
                        img {
                        
                        height: 636px;
                        border-radius: 10px;
                        margin: 10px 40px auto;

                        @media (max-width: 1000px) {
                          height: 363px;
                        }
                        
                        }

                        .barista-img {
                          height: 810px;

                          @media (max-width: 1000px) {
                            height: 400px;

                          }
                        }
                    } 
                }
                
                .promotion-description{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40%;
                    height: 100%;
                    margin: 10px;
                    text-align: center;

                    
        
                    p {
                      margin: 10px;
                      font-size: 1.5em;

                      @media (max-width: 1000px) {
                        font-size: .8em;
                      }
                    }
        
                }
            }

        }
    }

    
}

.cart {
  @include cart-style;
}
  
  
  
.cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.cart-column {
  width: 200px;
}



.btn-purchase {
  margin: 10px;
}

.hide {
  display: none;
}

@include footer;



