* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  width: 100%;
  background-image: url("..\\Images\\pexels-fwstudio-129731.jpg");
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .wrapper h1 {
  margin: 40px auto auto auto;
  font-size: 4rem;
}

.nav {
  position: relative;
  background-color: #712e1e;
  height: 80px;
  width: 100%;
}
.nav img {
  position: absolute;
  top: 2px;
  left: 48.5%;
}

.nav ul {
  float: right;
  margin-right: 8%;
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}

.nav ul li a.active, .nav ul li a:hover {
  background: #baba8d;
  transition: 0.5s;
}

.toggle-cart {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  border: none;
  background: none;
}

.toggle-cart.active, .toggle-cart:hover {
  background: #baba8d;
  transition: 0.5s;
}

.cart-count {
  position: absolute;
  background-color: blue;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  top: 9px;
  right: 8%;
}

.cart {
  border-radius: 0 0 1% 1%;
  border: 4px solid #712e1e;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  top: 7.7%;
  left: 76.5%;
  text-align: center;
  z-index: 2;
}
.cart .cart-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.cart .cart-row .cart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart .cart-row .cart-item .cart-item-image {
  margin: 5px auto;
}
.cart .cart-row .cart-item .cart-item-title {
  text-align: center;
}

.cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.cart-column {
  width: 200px;
}

.btn-purchase {
  margin: 10px;
}

.hide {
  display: none;
}

.about-wrapper {
  height: 754px;
  width: 1460px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 100px auto;
  border-radius: 10px;
}
.about-wrapper .about-container {
  border: 10px solid #888870;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  width: 1360px;
  height: 654px;
}
.about-wrapper .about-container .about-img {
  width: 50%;
  height: 100%;
}
.about-wrapper .about-container .about-img .img-container {
  margin: 20px 50px;
}
.about-wrapper .about-container .about-img .img-container img {
  border-radius: 10px;
  margin: 10px 40px auto;
}
.about-wrapper .about-container .about-description {
  width: 50%;
  height: 100%;
  margin: 10px;
}
.about-wrapper .about-container .about-description p {
  margin: 30px 10px;
  width: 636px;
  font-size: 2em;
}

.footer {
  background-color: #712e1e;
  height: 170px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.footer p {
  color: white;
  margin: 12px auto;
}
.footer img {
  width: 40px;
  height: 40px;
  margin: auto 15px;
}
.footer img:hover {
  width: 55px;
  height: 55px;
  transition: 0.5s;
}
.footer img:active {
  width: 50px;
  height: 50px;
  transition: 0.1s;
}

/*# sourceMappingURL=about.css.map */
