

@import '..\\module';

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body{
  
  
  width: 100%; 
  background-image: url("..\\Images\\pexels-fwstudio-129731.jpg");

    
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      margin: 40px auto auto auto;
      font-size: 4rem;
    }

  }

}

@include nav-bar;

.cart {
  @include cart-style;
}

.cart-quantity {
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.cart-column {
  width: 200px;
}

.btn-purchase {
  margin: 10px;
}

.hide {
  display: none;
}

.about-wrapper{
  
  height: 754px;
  width: 1460px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 100px auto ;
  border-radius: 10px;
  // box-shadow: 0px 0px 10px 0px black;

  @media (max-width: 1200px) {

    height: 188.5px;
    width: 365px;

  }

  @media (max-width: 1200px) {

    margin: 350px auto 400px auto;

  }
  
  
 .about-container{

        @include wrapper-style;
        display: flex;
        width: 1360px;
        height: 654px;   

        @media (max-width: 1200px) {

          
          width: 680px;
          height: 327px;

        }

        @media (max-width: 580px) {

          width: 340px;
          height: 800px;
          flex-direction: column;
          

        }

        .about-img{

            width: 50%;
            height: 100%;

            @media (max-width: 1200px) {


            }

            @media (max-width: 580px) {
              
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              width: 100%;

            }
            
          .img-container{

            margin: 20px 50px;

            @media (max-width: 1200px) {

              margin: 10px 10px;

            }

            @media (max-width: 580px) {
              
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

            }
            
            img {
              border-radius: 10px;
              margin: 10px 10px auto;
              width: 440px;

              @media (max-width: 1200px) {

                width: 210px;

              }

            }

          }
            
        }
        

        .about-description{
          width: 50%;
          height: 100%;
          margin: 15px;

          @media (max-width: 1200px) {
            
            
           
          }

          p {
              margin: 30px 10px;
              width: 636px;
              font-size: 2em;

              @media (max-width: 1200px) {
                
                margin: 10px auto;
                width: 300px;
                font-size: 1em;

              }
          }

        }
    }
}

@include footer;